################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Swsu.Test/.vs/Swsu.Test/v16/Server/sqlite3
