@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Музыкальный магазин</title>
</head>

<body>
    <div>
        <h3>Купи гитару, а то печень вырежу</h3>
        <table>
            <tr>
                <td><p>Фирма производитель</p></td>
                <td><p>Модель</p></td>
                <td><p>Цена</p></td>
            </tr>
            @foreach (var b in ViewBag.Guitars)
            {
                <tr>
                    <td><p>@b.Producer</p></td>
                    <td><p>@b.Model</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>